

 body{
    margin: 0;
    padding: 0;
    height: 720px;
    background-image: url('../Images/whiteAndGrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

 
    .content {
        /* Add styles for your content here */
        margin-top: 20px; /* Adjust the margin-top as needed */
    }

    
