

 body{
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url('../Images/whiteAndGrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

 
    .parallax {
        background-image: url('../Images/ticTacToe.png');
        height: 350px;
        width: 80%;
        margin-top: 20px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .textContainer {
        padding: 20px;
        height: auto;
        width: 80%;
        background-color: #ffffff; 
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .custom-border {
        border: 1px solid #000; 
        padding: 10px; 
        text-align: center;
    }
