
 
    .image-container{
    margin-top: 20px; /* Adjust the margin-top as needed */
    width: 100%;
    height: 50vh;
    overflow: hidden;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain image aspect ratio while covering the container */
    }
    .content {
        /* Add styles for your content here */
        margin-top: 20px; /* Adjust the margin-top as needed */
    }
