

 body{
    margin: 0;
    padding: 0;
    height: 720px;
    background-image: url('../Images/whiteAndGrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

 
    .content {

        margin-top: 20px;
    }

    .new-container {
        margin-top: 50px; 
        padding: 20px;
        height: 360px;
        width: 80%;
        background-color: #ffffff; 
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    
