

 body{
    margin: 0;
    padding: 0;
    height: 720px;
    background-image: url('../Images/whiteAndGrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

 
    .content {
        /* Add styles for your content here */
        margin-top: 20px; /* Adjust the margin-top as needed */
    }

    .new-container {
        margin-top: 50px; /* Adjust the margin as needed */
        padding: 20px;
        height: 360px;
        width: 80%;
        background-color: #ffffff; /* Set the background color as desired */
        border-radius: 8px; /* Optional: Add rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    }

    
