body{
   
    height: auto;
    background-image: url('../Images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
.form-group.invalid input {
    border-color: red;
    box-shadow: none;
}

.container{
    padding-top: 1%;
}
.navbar-nav .nav-item .nav-link{
    color: rgba(255, 255, 255, 0.854) !important;
  }
  .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.854);
  }
  
  .navbar-nav  .nav-item:hover .nav-link{
  color: darkgrey !important; 

  }

  .password-container {
    position: relative;
}

.eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.forgotPassword{
  
}
