body{
   
    height: auto;
    background-image: url('../Images/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
.form-group.invalid input {
    border-color: red;
    box-shadow: none;
}

.container{
    padding-top: 1%;
}
.navbar-nav .nav-item .nav-link{
    color: rgba(255, 255, 255, 0.854) !important;
  }
  .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.854);
  }
  
  .navbar-nav  .nav-item:hover .nav-link{
  color: darkgrey !important; 

  }