body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('../Images/ticTacToe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: 15px;
}

button { 
    
    padding: 10px 20px; 
    font-size: 16px;   
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin: 20px auto;
    justify-content: center;

    display: none;

}

#alert1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    display: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-gap: 10px;
    background-color: darkgray; 
    width: fit-content; 
    height: fit-content; 
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
}   

.cell {
    width: 75px;
    height: 75px;
    font-size: 24px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
    background-color: grey;
    line-height: 75px; 
}

.cell:hover{
    background-color: rgb(81, 80, 80)
}

.description-container {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.description-container h3 {
    color: #007bff; 
}

.description-container p {
    color: black; 
    text-align: left;
    font-size: 16;
    font-weight: 10;
}