h1 {
    text-align: center;
}



p {
    text-align: left;
    color: black;
    }
    .aboutContainer {
        margin-top: 50px; 
        padding: 20px;
        height: 360px;
        width: 80%;
        background-color: #ffffff; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
body{
  
    height: 600px;
    background-image: url('../Images/aboutBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar-nav .nav-item .nav-link{
    color: rgba(255, 255, 255, 0.854) !important;
  }
  .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.854);
  }
  
  .navbar-nav  .nav-item:hover .nav-link{
  color: darkgrey !important; 

  }

  