#CalculatorForm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 300px;
    padding-top: 15px;
    margin: 30px auto 0 auto;
    background-color: darkgray; 
    padding: 10px; 
    border-radius: 10px; 


}

#display{
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden; 
}

body{
  
    height: 600px;
    background-image: url('../Images/calculatorBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
 }


#CalculatorForm textarea{
    grid-column: span 4;
    padding: 10px;
    height: 60px;
    font-size: 16px;
    text-align: right;
    resize: none;
}

#CalculatorForm button {
    font-size: 16px;
    padding: 10px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 4px;
}

#CalculatorForm button:hover{
    background-color: rgb(81, 80, 80)
}

#CalculatorForm button[type="submit"]{
    background-color: blue;
    border: 1px solid blue;
}

#CalculatorForm button[type="submit"]:hover{
    background-color: rgb(0, 0, 95);
}