body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}


#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
}
.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.cell:hover{
    background-color: red;
}