h3 {
    color: #007bff; 
    text-align: center;
}



p {
    text-align: left;
    color: black;
    }
    
.aboutContainer {
    margin-top: 50px; 
    padding: 20px;
    height: auto;
    max-width: 800px;
    width: 90%;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    max-width: 100%;
    
}
body{
    min-height: 100vh; /* Ensure body takes at least the full height of the viewport */
    margin: 0;
    height: auto;
    background-image: url('../Images/aboutBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.navbar-nav .nav-item .nav-link{
    color: rgba(255, 255, 255, 0.854) !important;
  }
  .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.854);
  }
  
  .navbar-nav  .nav-item:hover .nav-link{
  color: darkgrey !important; 

  }

  