{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
<div class="content">
    <div class="aboutContainer mx-auto">
    <h3>About</h3>
    <p>
    Hello! 
    </p>    
    <p>
    For many years I've had an interest in website development, so I created this site to enhance my proficiency in Object-Oriented Programming and databases. This platform serves as a repository for a collection of my web-compatible projects, while also functioning as a practical learning ground.
    </p> 
    <p>
    I used languages such as HTML, CSS, and JavaScript for the frontend, with the site's backend being structured on the Flask framework with SQL employed for database management. Currently, the database is integrated solely with my calculator app, but I have many ideas for the future, most of which require a strong database. 
    </p>
    <p>
    Stay tuned for future updates and additions to this project.
    </p>
    <p>
    - Trevor
    </p>
    </div>
</div>
    

{% endblock %}