{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
<div class="content">
    <div class="aboutContainer mx-auto">
        <h1>About</h1>
    <p>Welcome to my platform! Since my high school years, I have held an interest in website development. I started on this project during beginning of the second semester of my sophomore year to enhance 
        my proficiency in Object-Oriented Programming and databases while gaining valuable real-world programming experience.
    </p>
    <p>
        This platform serves as a repository for a collection of web-compatible projects, functioning as a practical learning ground for my continuous growth. 
        Utilizing fundamental technologies such as HTML, CSS, and JavaScript, the site's backend is 
        structured on the Flask framework with SQL employed for database management. Currently, the database is integrated with my calculator app, but I have many ideas for the future, 
        most of which requiring a robust database. Stay tuned for future updates and additions to this project.
    </p> 
    </div>
</div>
    
{% endblock %}