<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %} Trevor Farias {% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-light bg-light ">      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">

            <ul class="navbar-nav mx-auto d-flex justify-content-center">
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          
           
            <li class="nav-item dropdown">
              <a class="nav-link" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
              href="#">Projects</a>
              <div class="dropdown-menu" aria-labelledby="contactsDropdown">

                <a class="dropdown-item"  href="{{url_for('calculator')}}">Calculator</a>
                <a class="dropdown-item" href="{{url_for('ticTacToe')}}">Tic-Tac-Toe</a>
                <a class="dropdown-item" href="{{url_for('app3')}}">App3</a>
              </div>
            </li>
        
            <li class="nav-item dropdown">
              <a class="nav-link" id="contactsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
              href="{{url_for('index')}}">Contact</a>
              <div class="dropdown-menu" aria-labelledby="contactsDropdown">
                <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/trevor-farias-454aa2278">LinkedIn</a>
                <a class="dropdown-item" href="mailto:trevor_farias@yahoo.com">Email</a>
              </div>
            </li>
            </ul>
        </div>
    </nav>

    

    <div class="container  flex-grow 1">
      {% block content %} {% endblock %}
    </div>

    <footer class="footer py-3 bg-transparent text-black mt-auto">
      <div class="container text-center">
          <p id="Footer">&copy; 2024 Trevor-Farias. All rights reserved. E: trevor_farias@yahoo.com</p>
      </div>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Default Statcounter code for Personal Site http://trevorfarias.com -->
<script type="text/javascript">
  var sc_project=12957395; 
  var sc_invisible=1; 
  var sc_security="62f93bb1"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
  Statcounter" href="https://statcounter.com/" target="_blank"><img
  class="statcounter" src="https://c.statcounter.com/12957395/0/62f93bb1/1/"
  alt="Web Analytics Made Easy - Statcounter"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->
  </body>
</html>