{% extends 'base.html' %}

{% block title %} Calculator {% endblock %}


{% block content %}
<script src="static/java/calculatorScript.js" ></script>


<link rel="stylesheet" href="{{ url_for('static', filename='css/style_app1.css') }}">

<div id="Calculator">
<form id="CalculatorForm" action="/calculate" method="post" >

<textarea name="expression" id="display" readonly style ="text-align: right">
    {{ expression }}
    {{ "Error: Invalid Expression" if result == "Invalid Expression" else result }}</textarea>

    <button type="button" onclick="clearExpression()">C</button>
    <button type="button" onclick="appendToExpression('**')">exp</button>
    <button type="button" onclick="appendToExpression('%')">mod</button>
    <button type="button" onclick="appendToExpression('/')">/</button>
    <button type="button" onclick="appendToExpression('7')">7</button>
    <button type="button" onclick="appendToExpression('8')">8</button>
    <button type="button" onclick="appendToExpression('9')">9</button>
    <button type="button" onclick="appendToExpression('*')">*</button>
    <button type="button" onclick="appendToExpression('4')">4</button>
    <button type="button" onclick="appendToExpression('5')">5</button>
    <button type="button" onclick="appendToExpression('6')">6</button>
    <button type="button" onclick="appendToExpression('-')">-</button>
    <button type="button" onclick="appendToExpression('1')">1</button>
    <button type="button" onclick="appendToExpression('2')">2</button>
    <button type="button" onclick="appendToExpression('3')">3</button>
    <button type="button" onclick="appendToExpression('+')">+</button>
    <button type="button" onclick="appendToExpression('0')">0</button>
    <button type="button" onclick="appendToExpression('.')">.</button>
    <button type="button" onclick="remFromExpression()">del</button>
    <button type="submit" >=</button>
</form>
</div>


{% endblock %}