<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser-arcade-physics.min.js"></script>
  <script src="{{ url_for('static', filename='java/game.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

  <title>Game</title>
</head>


<body>











</body>
</html>
