{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">

    <div class="parallax mx-auto">
        
    </div>
    <div class="textContainer mx-auto">
    <p>Hey, I'm Trevor Farias, an aspiring software / hardware engineer, originally from Salt Spring Island, BC. I am currently a second-year Computer Engineering student at Queens University in Ontario, but my passion for everything technology started when I got my first shared-2DS in 2013. Ever since, anything and everything digital has been my lifeline. 
    </p>

    <p>
    As a kid, video games were my creative outlet, leading me to create and manage Minecraft servers. I created custom plugins using Java and C, while also delving into network management, using tools like Wireshark and Burp Suite. I was the sole developer, while also maintaining a player-base, which turned out to be a lot harder than I could have imagined. Through this experience, I started to realize that the programs I create are ultimately used by humans, emphasizing the significance of the social aspect beyond just programming. I was challenged with the difficult balance of making sure my community was happy, while also creating innovative and new updates.
    </p> 
     <p>
    Recently, my focus has shifted toward cybersecurity. I've been exploring various  platforms, such as Hackthebox, Hackthissite and TryHackMe. I created a linux clone on VMHardware and have been running most of my software and attempts through this.
    </p>
    <p>
    - Trevor 
    </p>
               
    </div>
    
{% endblock %}