{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">

    <div class="content">
    </div>

    <div class="textContainer mx-auto">
    <p>Hey, I'm Trevor Farias, an aspiring software / hardware engineer, originally from Salt Spring Island, BC. I am currently a second-year Computer Engineering student at Queens University in Ontario, but my passion for everything technology started when I got my first shared-2DS in 2013. Thanks grandma! Ever since, anything and everything digital has been my lifeline. 
    </p>

    <p>
    As a kid, video games were my creative outlet, leading me to establish and manage Minecraft servers. I created custom plugins using Java and C, while also delving into network management, using tools like Wireshark and Burp Suite. I was the sole developer, while also maintaining a player-base, which turned out to be a lot harder than I could have imagined. Through this experience, I learned how technology fuses computers with the human experience and I was challenged with the difficult balance of making sure my community was happy, while also creating innovative and new updates.
    </p> 
     <p>
    Recently, my focus has shifted toward cybersecurity. I've been exploring exciting opportunities in platforms, such as Hackthebox and Hackthissite. Creating a Linux clone on VMHardware has become a pivotal aspect of my experimentation, serving as the foundation for most of my software endeavors.
    </p>
    <p>
    - Trevor 
    </p>
               
    </div>
    
{% endblock %}