{% extends 'base.html' %}

{% block title %} reset_password {% endblock %}
{% block content %}

<script>

    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
  
        if (password !== confirmPassword) {
          alert("Passwords do not match. Please try again.");
        } else {
          alert("Passwords matched. Form submitted successfully!");
          // You can submit the form or perform further actions here
          var form = document.getElementById("registrationForm");
          // Submit the form
          form.submit();
        }
      }

</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h3 class="display-4 text-center">Enter Email</h3>
                <div class="card-body">
                    <form method="POST" action="/forgottenPassword">
                        <div class="form-group">
                            <label for="email" style="font-size: 18px;">Email</label>
                            <input class="form-control form-control-lg" type="email" name="email" id="email"
                                placeholder="Enter Email" autofocus="" required>
                        </div>
                        

                        <button type="submit" class="btn btn-info btn-block btn-lg">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}