{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<script>

    document.addEventListener('DOMContentLoaded', function () {
        document.activeElement.blur();
        const textField = document.getElementsByClassName("form-control form-control-lg");

        for (let i = 0; i < textField.length; i++) {
            textField[i].blur();
        }

        {% if emailErr == 'invalid' %}
        textField.namedItem("email").focus();
        {% elif usernameErr == 'invalid' %}
        textField.namedItem("username").focus();
        {% elif passwordErr == 'invalid' %}
        textField.namedItem("password").focus();
        {% endif %}

    });


    function togglePasswordVisibility(eyeIcon) {
        const passwordContainer = eyeIcon.parentElement;
        const passwordInput = passwordContainer.querySelector('input');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.innerHTML = '&#128065'; // Closed eye
        } else {
            passwordInput.type = 'password';
            eyeIcon.innerHTML = '&#128374;'; // Open eye
        }
    }

</script>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h3 class="display-4 text-center">Sign Up</h3>
                <div class="card-body">
                    <form method="POST" action="/signup" autocomplete="off">


                        <div class="form-group {% if usernameErr == 'invalid' and not None %} invalid {% endif %}">
                            <label for="username">Username</label>
                            <input class="form-control form-control-lg" type="text" name="username"
                                placeholder="Username" autocomplete="off" value="{{ username }}">
                            <span class="tooltiptext">
                                <ul>
                                    <li>Between 3-12 characters</li>
                                    <li>No special characters</li>
                                </ul>
                            </span>
                        </div>

                        <div class="form-group {% if passwordErr == 'invalid' and not None %} invalid {% endif %}">
                            <label for="password">Password</label>
                            <div class="password-container">
                                <input class="form-control form-control-lg" type="password" name="password"
                                    placeholder="Password" autocomplete="off" value="{{ password }}">
                                    <span class="eye" onclick="togglePasswordVisibility(this)">&#128374;</span>
                                    <span class="tooltiptext">
                                        <ul>
                                            <li>Atleast one uppercase</li>
                                            <li>Atleast one number</li>
                                            <li>Greater than 6 chars</li>
                                        </ul>
                                    </span> 
                            </div>
                        </div>

                        <div class="form-group {% if emailErr == 'invalid' %} invalid {% endif %}">
                            <label for="email">Email</label>
                            <input class="form-control form-control-lg" type="email" name="email"
                                placeholder="yours@gmail.com" autocomplete="off" value="{{ email }}">

                            {% if emailErr == 'invalid'%}
                            <span class="tooltiptext">
                                <ul>
                                    <li>Email already registered</li>
                                </ul>
                            </span>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-info btn-block btn-lg">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}