
{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<script src="{{ url_for('static', filename='java/signup.js') }}"></script>

<style>
    
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h3 class="display-4 text-center">Sign Up</h3>
                <div class="card-body">
                    <form method="POST" action="/signup">


                        <div class="form-group {% if usernameErr == 'invalid' %} invalid {% endif %}">
                            <label for="username">Username</label>
                            <input class="form-control form-control-lg" type="text" name="username"placeholder="Username" autofocus="" autocomplete="off" value="{{ username }}">
                            <span class="tooltiptext">
                                <ul>
                                    <li>Between 3-12 characters</li>
                                    <li>No special characters</li>
                                </ul> 
                            </span>
                        </div>

                        <div class="form-group {% if passwordErr == 'invalid' %} invalid {% endif %}">
                            <label for="password">Password</label>
                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Password" autocomplete="off" value="{{ password }}">
                            <span class="tooltiptext"> 
                                <ul>
                                    <li>Atleast one uppercase</li>
                                    <li>Atleast one number</li>
                                    <li>Greater than 6 chars</li>
                                </ul> 
                            </span>
                        </div>
    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control form-control-lg" type="email" name="email" placeholder="yours@gmail.com" autocomplete="off" value="{{ email }}">
                        </div>

                        <button type="submit" class="btn btn-info btn-block btn-lg">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}