{% extends 'base.html' %}

{% block title %} Api App {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stock.css') }}">

<div class="container mt-4">
    <div class="row">
        <!-- Description Container (Left Column) -->
        <div class="col-md-6 mb-4">
            <div class="description-container p-4">
                <h3>Stock Api-Lookup</h3>
                <p>
                    This application works by taking user input, i.e., a Ticker symbol. It then sends a query to Alphavantage requesting weekly analytics since the origin of the company. It stores the input as a JSON file and I then parse through it graphing with MatPlotLib.
                </p>
                <p>Example: AAPL (Apple) </p>
        </div>
        </div>

        <!-- Stock Form (Right Column) -->
        <div class="col-md-6 mx-auto my-auto d-flex justify-content-center">
                <form id="stockInputForm" action="/stockRoute" method="GET">
                    <div>
                        <input type="text" pattern="[A-Za-z]+" name="symbol" id = "stockQuery" placeholder="Enter Symbol" maxlength="8" style="min-width: 50px; max-width: 300px;">
                    </div>
                </form>
                
                
            
        </div>
    </div>
</div>

<div class="container">
{% if plot_data is not none %}
<img src="data:image/png;base64, {{ plot_data }}" alt="Matplotlib Plot">
{% endif %}
</div>

{% if message is not none %}
<script>
    alert('{{ message }}');
</script>
{% endif %}

<script src="{{ url_for('static', filename='java/apiLookup.js') }}"></script>
{% endblock %}