<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}" />
  </head>

  <body>
    <div class="frame">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="div"></div>
          <div class="rectangle-2"></div>
          <img class="img" src="https://c.animaapp.com/UG01HekO/img/rectangle-4.svg" />
          <div class="text-wrapper">Love this BAblsaoa</div>
          <div class="text-wrapper-2">INPUT HERE</div>
          <img class="line" src="https://c.animaapp.com/UG01HekO/img/line-1.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
